# https , http 체크!
BASE_URL=http://<본서버-private-ip>:8080
ACCESS_TOKEN=<eyJhbGciOiJIUzI1NiJ9...>

INFLUXDB_HOST=influxdb
INFLUXDB_PORT=8086
INFLUXDB_DB=k6
INFLUXDB_URL=http://influxdb:8086/k6

LOAD_MAX_VU=50
STRESS_MAX_VU=50
